<h1>Search movie</h1>

<div>
  <form>
    <mat-form-field>
      <mat-label>Search movie</mat-label>
      <input matInput type="search" [(ngModel)]="query" name="search" (keyup.enter)="searchMovie()">
    </mat-form-field>
    <button type="button" mat-button (click)="searchMovie()" class="mat-elevation-z4" color="accent">Search</button>
  </form>
  <div class="card-wrapper" fxLayoutGap="20px grid">
    <div *ngFor="let movie of movies | async; let i = index"
      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.gt-md="25%">
    <mat-card fxLayout="column">
        <img *ngIf= "movie.posterPath; else noImg" mat-card-image src="https://image.tmdb.org/t/p/w500{{movie.posterPath}}">
        <ng-template #noImg>
          <img mat-card-image src="../../../assets/no-img.svg">
        </ng-template>
        <mat-card-header>
          <mat-card-title>{{i+1}}. {{movie.title}}</mat-card-title>
          <mat-card-subtitle>Release date: {{movie.releaseDate | date}}</mat-card-subtitle>
          <mat-card-subtitle>{{movie.genreIDs | genre: (genres | async)}}</mat-card-subtitle>
          <mat-card-subtitle>
            <div class="rating-wrapper">
              <mat-icon *ngFor="let ind of movie.voteAverage | rating" color="accent">stars</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <a mat-button class="mat-elevation-z4" color="accent" [routerLink]="['/movies/', movie.id]">
            Full details
          </a>
        </mat-card-actions> 
      </mat-card>
    </div>
  </div>
</div>